.App {
  text-align: center;
}


.App-header {
  background-color: black;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5rem;
}

.ui.inverted.segment{
  width: 50%;
  margin: auto;
}

a {
  color: white !important;
  padding: 1rem;
}

.ui.cards{
  padding: 3rem;
}